body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: aliceblue; 
}


main {
  align-content: center; 
}

label {
  padding: 0.5rem;
  display: block;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 120%;
}